.main {
  display: flex;
  min-height: 100vh;
}

.header {
  display: flex;
  align-items: center;
  height: var(--header-height, 70px);
  overflow: hidden;
  position: fixed;
  width: 100%;
  padding: 10px 40px;
  background-color: var(--header-color, #fff);
  border-bottom: 1px solid rgba(var(--light-grey-rgb), 0.3);
  z-index: 20;
  gap: 1.5rem;
}

.brand {
  display: inline-flex;
}

.globalNavigation {
  margin-left: auto;
  overflow-y: auto;

  --roc-notification-bell-icon-wrapper-color: #8f90aa;
  --roq-chat-message-bell-icon-color: #8f90aa;
}

.globalNavigationList {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 44px;
  padding: 0px;
  margin: 0px;
  position: relative;
}

.globalNavigationList > li {
}

.globalNavigationList > li + li:before {
  content: "";
  background-color: #e6ebf5;
  position: absolute;
  pointer-events: none;
  width: 1px;
  height: 24px;
  top: 0px;
  transform: translate3d(-24px, 13px, 0);
}

.globalNavigationList > li > button,
.globalNavigationList > li > a {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
}

.content {
  padding: 40px 200px;
  margin-top: 60px;
  height: calc(100vh - 60px);
  width: 100%;
}

.linksContainer {
  display: flex;
  align-items: center;
  gap: 5px;
}

@media only screen and (max-width: 1280px) {
  .header {
    padding: 10px;
  }
  .content {
    padding: 40px 20px;
  }
}

.userProfile {
  max-width: 640px;
  margin: 0 auto;
}