.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.card {
  padding: 1rem 1.2rem;
  border-radius: var(--border-radius);
  background: rgba(var(--card-rgb), 0);
  border: 1px solid rgba(var(--card-border-rgb), 0);
  transition: background 200ms, border 200ms;
  text-align: center;
}

.card h2 {
  font-weight: 600;
  margin-bottom: 0.7rem;
}

.card p {
  margin: 0;
  opacity: 0.6;
  font-size: 0.9rem;
  line-height: 1.5;
  max-width: 30ch;
}

.center {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 4rem 0;
}

.center::before {  
  border-radius: 50%;
  width: 480px;
  height: 360px;
  margin-left: -400px;
}

.inputText {
  height: 50px;
  width: 100%;
  background-color: #ffffff;
  border: solid 1px rgba(var(--light-grey),1) ;
  border-radius: 8px;
  margin-bottom: 20px;
  padding: 0px 10px;
}
.inputText:focus,.inputText:active {
  border: solid 1px rgba(var(--primary-color-rgb),1);
}

.logo {
  position: relative;
  padding: 30px;
  border-radius: 30%;
  margin-bottom: 50px;
}



/* Mobile */
@media (max-width: 700px) {
  .content {
    padding: 4rem;
  }

  .card {
    color: #ffffff;
    padding: 1rem 2.5rem;
  }

  .card h2 {
    color: #ffffff;
    margin-bottom: 0.5rem;
  }

  .center {
    padding: 2rem 0 6rem;
  }

  .center::before {
    transform: none;
    height: 300px;
  }
}

