.feed {
    width: 100%;
}

.title {
    margin-bottom: 30px;
}

.createPostContainer {
    width: 100%;
    max-width: 500px;

}

.listContainer {
    margin-top: 20px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

