.feed {
    width: 100%;
}

.title {
    margin-bottom: 30px;
}

.uploadContainer {
    width: 100%;
    max-width: 600px;
    margin-bottom: 20px;
}

.listContainer {
    margin-top: 20px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

