.inputText {
    width: 100%;
    background-color: #ffffff;
    border: solid 1px rgba(var(--light-grey-rgb),1) ;
    border-radius: 16px;
    margin-bottom: 20px;
    padding: 20px;
    resize: none;
}

.inputText:focus,.inputText:active {
    border: solid 1px rgba(var(--primary-color-rgb),1);
}
  

.uploadContainer {
    width: 100%;
}

.preview {
    display: block;
    margin: 20px 0px;
    border-radius: 18px;
    width: 300px;
}

