@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap');


:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: Menlo;

  --foreground-rgb: 0, 0, 0;
  --primary-color-rgb: 32, 123, 229;
  --light-grey-rgb: 201,197,211;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

textarea:focus, input:focus{
  outline: none;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: #F4F7FF;
}

a {
  text-decoration: none;
  color: rgb(var(--primary-color-rgb));
}

.btn { 
  font-size: 18px;
  line-height: 18px;
  padding: 15px 50px;
  height: 50px;
  border-radius: 16px;
  border: solid 3px transparent;  
  cursor: pointer;
  background-color:  rgb(var(--primary-color-rgb));
  color: #ffffff;
}

.btn.btn-block {
  width: 100%;
  margin-bottom: 20px;
}

.btn.btn-sm {
  height: 30px;
  font-size: 12px;
  line-height: 12px;
  border-radius: 8px;
  padding: 5px 20px;
}

.btn:hover {
  cursor: pointer;
  box-shadow: 0 0 10px rgba(var(--primary-color-rgb),.5) ;
}

.btn:active{
  cursor: pointer;
  box-shadow: 0 0 10px rgba(var(--primary-color-rgb),1) ;
}

.btn:disabled {
  cursor:not-allowed;
  background-color:  rgba(var(--primary-color-rgb), .5);
}